.clear:after
      {
        content:"";
        display: table;
        clear:both;
      }
*{
  /*margin: 0;
  padding: 0;*/
  box-sizing: border-box;    /*maintenence helping */
}


h1,h2
        {
              font-family: cursive;
        }

h1
        {
                color:navy;
                font-size: 40px;
                /*  font-family: Arial;*/
        }
h2
        {
                color:red;
                font-size: 24px;
                font-family: Cursive;
        }
h3{
        font-size: 40px;
}
.p1
        {

                font-size: 27px;
                font-style: italic;
                color:black;
        }
.p2
        {

                font-size: 27px;
                font-style:oblique;
                color:paleturquoise;

        }
.p3
        {
                  font-size: 27px;
                  font-style: normal;
                  color:green;
        }
.id1
        {
                  font-size: 30px;

        }
.level
        {
                  width: 1140px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    /* it has anathore shortcut like ---->>> margin: top right bottom left; <<-----    ex: --->>margin:30px auto 30px auto ; */

        }
.l1
        {
                  background-color: aqua;
                width:75%;
                float: left;
                border-top: 3px solid;
                border-left: 3px solid;
                border-right: 3px solid


        }
.l4
        {
                  background-color: gold;
                width: 25%;
                float: left;
                padding-left: 100px;
                border-top: 3px solid;
                border-right: 3px solid;
                border-bottom: 3px solid;
        }
.img
        {
                    margin-left:0px;
                  /*  margin-right: auto;*/
                    padding-bottom: 15px;

        }
.main
        {
                    margin-left: 200px;
                    margin-right: auto;
        }
.l3
        {
                  background-color: antiquewhite;
                  padding-left: 15px;
                  padding-bottom: 15px;
                  padding-top: 15px;
                  border-top: 3px solid;
                  border-left: 3px solid;
                  border-right: 3px solid;
                  border-bottom: 3px solid;
        }
.l2
        {
                  background-color: grey;
                  padding-left: 15px;
                  padding-bottom: 15px;
                  padding-top: 15px;
                  border-top: 3px solid;
                  border-left: 3px solid;
                  border-right: 3px solid;

        }
.dmain
        {
                      padding-left: 15px;
        }
.p420
        {
                    font-style: normal;
                    padding-left: 350px;
                    font-size: 20px;
        }
.img img
        {
          margin-right: 30px;
          width: 100%;
        }
.l4 l4
        {
          padding-left: 300px;
        }

p{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}